# Ignore visual studio directory
*/.vs/


# Ignore gamebook builds
GameBook-1/GameBook/bin
GameBook-1/GameBook/obj
GameBook-2/GameBook/bin
GameBook-2/GameBook/obj

# Ignore snake build
Snake/Snake/bin
Snake/Snake/obj

# Ignore Calculator build
Calculator/Calculator/bin
Calculator/Calculator/obj

# Ignore Hamurabi build
Hamurabi/Hamurabi/bin
Hamurabi/Hamurabi/obj

# Ignore ThemeHospital build
ThemeHospital/ThemeHospital/bin
ThemeHospital/ThemeHospital/obj